[Unit]
Description=Homeberry API Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Projects/homeberry-api
ExecStart=python /home/pi/Projects/homeberry-api/homeberryApi.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
